{% extends "templatebase.html" %}

{% block help_content %}
<p class="text-muted">
  The annotation view depicts the instances of the current page in a grid view.
  Instance status is indicated by color: correct (green), incorrect (red),
  unsure (gray). Clicking on an instance changes its status: once for incorrect,
  twice for unsure, three times for correct. To inspect an instance's mask,
  right-click the instance to enlarge the patch and navigate through slices.
  Click `View in NG` to view the instance in Neuroglancer. After evaluating the
  segmentation masks, click `->` to load and evaluate the page. When done, click
  `Error Processing` on the last proofreading page.
</p>
{% endblock %}

{% block content %}
<div class="container-fluid content-row">
  <div class="legend">
    <div class="legend-item"><strong>Legend:</strong></div>
    <div class="legend-item">
      <span class="color-block" style="background-color: #abebc6"></span>Correct
    </div>
    <div class="legend-item">
      <span class="color-block" style="background-color: #f08080"></span>Incorrect
    </div>
    <div class="legend-item">
      <span class="color-block" style="background-color: #d7dbdd"></span>Unsure
    </div>

    <div class="btn-group btn-group-sm ms-auto" role="group" aria-label="Basic example">
      <span style="margin-right: 8px; margin-top: 2px">Label opacity: </span>
      <button id="dec-opacity-grid" type="button" class="btn btn-secondary rounded-start" onclick="dec_opacity_grid()">-</button>
      <span id="value-opacity-grid" type="button" class="btn btn-light" value="{{grid_opacity or '0.5'}}">{{grid_opacity or '0.5'}}</span>
      <button id="inc-opacity-grid" type="button" class="btn btn-secondary" onclick="add_opacity_grid()">+</button>
    </div>
  </div>

  <div class="row justify-content-center card-group">
    {% if fn_page == "true" %}
    <div class="annotate-item mb-3">
      <div id="add_new_instance" class="card border-0 p-2 incorrect">
        <div id="main-image" style="position: relative">
          <img
          id="add_new_instance"
          class="img_annotate"
          src="/static/placeholder/place_holder_fn.png"
          style="cursor: pointer;"
          data-bs-toggle="modal"
          data-bs-target="#drawModalFN"
        />
        </div>
      </div>
    </div>
    {% endif %}
    {% for image in images %}
      <div class="annotate-item mb-3">
        <div id="id{{image.Image_Index}}" class="card border-0 p-2 {% if image.Label == 'Correct' %}correct{% elif image.Label == 'Incorrect'%}incorrect{% elif image.Label == 'Unsure'%}unsure{% endif %}">
          <div id="main-image" style="position: relative">
            <!-- In case of a FN we depict we use the source image also as the target to act as placholder -->
            {% if fn_page != "true" %}
            <img id="imgTarget-{{image.Image_Index}}" class="img_annotate" src="{{ url_for('file_access.get_target_image', image_index=image.Image_Index, slice_id=image.Middle_Slice)}}" style="position: absolute; opacity: {{grid_opacity if grid_opacity else '0.5'}};" data-current-slice="{{image.Middle_Slice}}"/>
            {% endif %}
            <img id="imgSource-{{image.Image_Index}}" class="img_annotate" src="{{ url_for('file_access.get_source_image', image_index=image.Image_Index, slice_id=image.Middle_Slice)}}" style="position: initial" data-current-slice="{{image.Middle_Slice}}"/>
          </div>
          <a id="id-a-{{image.Image_Index}}" class="stretched-link image-card-btn" page="{{page}}" data_id="{{ image.Image_Index }}" label="{% if image.Label == 'Correct' %}Correct{% elif image.Label == 'Incorrect'%}Incorrect{% elif image.Label == 'Unsure'%}Unsure{% endif %}" sectionIdx ="{{ image.section_index }}"></a>
        </div>
      </div>
    {% endfor %}
    </div>
</div>

<!-- Page Navigation -->
<nav aria-label="Page navigation mt-5" class="position-fixed bottom-0 start-50 translate-middle-x mb-4">
  <ul class="pagination justify-content-center">
    {% if page > 1 %}
    <li class="page-item">
      <a type="button" class="page-link btn btn-secondary nav-anno" href="{{ url_for('annotation.annotation_page', page=page-1) }}">
        <i class="bi bi-arrow-left"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a type="button" class="page-link btn btn-secondary">
        <i class="bi bi-arrow-left"></i>
      </a>
    </li>
    {% endif %}
    <li style="padding: 0.375rem 0.75rem">{{page}} / {{n_pages}}</li>
    {% if page < n_pages %}
    <li class="page-item">
      <a type="button" class="page-link btn btn-secondary nav-anno" href="{{ url_for('annotation.annotation_page', page=page+1) }}">
        <i class="bi bi-arrow-right"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a type="button" class="page-link btn btn-secondary">
        <i class="bi bi-arrow-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>


<!-- Error Processing Button Across Pages -->
<div class="position-fixed bottom-0 end-0 m-4">
  <a class="btn btn-secondary" href="{{ url_for('categorize.categorize') }}">Error Processing</a>
</div>


<!-- Modal to indicating active loading -->
{% include "loading_bar.html" %}

<!-- Modal for synapse slice -->
{% include "annotation_single.html" %}

<!-- Modal for neuroglancer slice -->
{% include "annotation_neuro.html" %}

<!-- Modal for adding false positve synapses -->
{% include "draw_modal_fn.html" %}

<!-- Load the SharkViewer -->
<script type="text/javascript" src="{{ url_for('static', filename='SharkViewer/three.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='viewer.js') }}" data-neuron-ready="{{ neuronReady }}" data-neuron-sections="{{ neuronSections }}" data-synapse-point-cloud="{{ synapsePointCloud }}", data-active-neuron-section="{{ activeNeuronSection }}"></script>
<script type="module" src="{{ url_for('static', filename='minimap.js') }}" data-neuron-ready="{{ neuronReady }}"></script>


<!-- Add js file to change the card colors -->
<script type="module" src="{{ url_for('static', filename='annotation_module.js') }}" data-fn-page="{{ fn_page }}"></script>
<script type="module" src="{{ url_for('static', filename='annotation.js') }}" data-neuron-id="{{ neuron_id }}" data-fn-page="{{ fn_page }}"></script>


<script type="module" src="{{ url_for('static', filename='draw_module.js') }}" data-current-page="{{ page }}""></script>

{% endblock %}
