<!-- Instance-specific view that opens up when right-clicking one of the tiles of the annotation view.
    It shows an enlarged version of the instance. Additional, it lets the user move a lever,
    located at the bottom of the newly opened window, which scrolls through all the slices
    of the selected instance and their associated segmentation masks.
    Both views load the request images as png files from a corresponding folder structure. -->
<div
  class="modal fade"
  id="detailsModal"
  tabindex="-1"
  aria-labelledby="modalToggleLabel1"
  inert
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body mx-auto">
        <div class="card-header text-center">
          Neuron ID: <span id="neuron-id"></span>
        </div>
        <div class="d-flex justify-content-center">
          <div id="cardDetails" class="card border-0 p-1">
            <img
              id="imgDetails-EM"
              class="card-img-top mb-1"
              src=""
              width="512px"
              height="512px"
              style="position: initial;"
            />
            <img
              id="imgDetails-GT"
              class="card-img-top mb-1"
              src=""
              width="512px"
              height="512px"
              style="
                position: absolute;
                opacity: 0.5;
              "
            />
          </div>
        </div>
        <div class="center">
          <input
            id="rangeSlices"
            type="range"
            class="form-range"
            value="0"
            min="0"
            max="30"
            data_id=""
            page=""
          />
          <div class="container">
            <div class="row">
              <div class="col-4 d-flex justify-content-start">
                <button
                  id="toggle-label"
                  class="btn btn-primary rounded-start"
                  onclick="check_gt();"
                >
                  Label
                </button>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <button
                  class="btn btn-primary"
                  id="ng-link"
                  type="button"
                  data-bs-target="#neuroModel"
                  data-bs-toggle="modal"
                  data-bs-dismiss="modal"
                >
                  View in NG
                </button>
              </div>
              <div class="col-4 d-flex justify-content-end">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button
                    id="dec-opacity"
                    type="button"
                    class="btn btn-primary rounded-start"
                    onclick="dec_opacity()"
                  >
                    -
                  </button>
                  <span
                    id="value-opacity"
                    type="button"
                    class="btn btn-light"
                    value="0.5"
                  >0.5</span>
                  <button
                    id="inc-opacity"
                    type="button"
                    class="btn btn-primary"
                    onclick="add_opacity()"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
