    {% for image in images %}
      <div class="annotate-item mb-3">
        <div id="id{{image.Image_Index}}" class="card border-0 p-2 {% if image.Label == 'Correct' %}correct{% elif image.Label == 'Incorrect'%}incorrect{% elif image.Label == 'Unsure'%}unsure{% endif %}">
          <div id="main-image" style="position: relative">
            <!-- In case of a FN we depict we use the source image also as the target to act as placholder -->
            {% if fn_page != "true" %}
            <img id="imgTarget-{{image.Image_Index}}" class="img_annotate" src="{{ url_for('file_access.get_target_image', image_index=image.Image_Index, slice_id=image.Middle_Slice)}}" style="position: absolute; opacity: {{grid_opacity if grid_opacity else '0.5'}};" data-current-slice="{{image.Middle_Slice}}"/>
            {% endif %}
            <img id="imgSource-{{image.Image_Index}}" class="img_annotate" src="{{ url_for('file_access.get_source_image', image_index=image.Image_Index, slice_id=image.Middle_Slice)}}" style="position: initial" data-current-slice="{{image.Middle_Slice}}"/>
          </div>
          <a id="id-a-{{image.Image_Index}}" class="stretched-link image-card-btn" page="{{page}}" data_id="{{ image.Image_Index }}" label="{% if image.Label == 'Correct' %}Correct{% elif image.Label == 'Incorrect'%}Incorrect{% elif image.Label == 'Unsure'%}Unsure{% endif %}" sectionIdx ="{{ image.section_index }}"></a>
        </div>
      </div>
    {% endfor %}
    {% if fn_page == "true" %}
    <div class="annotate-item mb-3">
      <div id="add_new_instance" class="card border-0 p-2 incorrect">
        <div id="main-image" style="position: relative">
          <img
          id="add_new_instance"
          class="img_annotate"
          src="/static/placeholder/place_holder_fn.png"
          style="cursor: pointer;"
          data-bs-toggle="modal"
          data-bs-target="#drawModalFN"
        />
        </div>
      </div>
    </div>
    {% endif %}

<!-- Modal for synapse slice -->
{% include "annotation_single.html" %}

<!-- Modal for neuroglancer slice -->
{% include "annotation_neuro.html" %}

<!-- Modal for adding false positve synapses -->
{% include "draw_modal_fn.html" %}

<!-- Add js file to change the card colors -->
<script type="module" src="{{ url_for('static', filename='annotation_image_tiles.js') }}" data-neuron-ready="{{ neuronReady }}" data-fn-page="{{ fn_page }}" data-active-synapse-ids="{{ activeSynapseIDs }}"></script>
<script type="module" src="{{ url_for('static', filename='annotation_module.js') }}" data-fn-page="{{ fn_page }}" data-neuron-id="{{ neuron_id }}" data-fn-page="{{ fn_page }}"></script>
<script type="module" src="{{ url_for('static', filename='draw_module.js') }}" data-current-page="{{ page }}" data-current-view="{{ "annotate-image-tiles" }}"></script>
