<!-- Instance-specific view that opens up when right-clicking one of the tiles of the annotation view.
    It shows an enlarged version of the instance. Additional, it lets the user move a lever, located at the bottom of the newly opened window,
    which scrolls through all the slices of the selected instance and their associated segmentation masks. 
    Both views load the request images as png files from a corresponding folder structure. -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pe-5" id="exampleModalLabel">Synapse details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin-left: auto; margin-right: auto;">
                <div class="center" style="display:flex; margin-bottom: 8px;">
                    <div class="form-check pe-4">
                        <input id="check-em" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                            onclick="check_em();" checked>
                        <label class="form-check-label" for="flexCheckChecked"> Image </label>
                    </div>
                    <div class="form-check pe-4">
                        <input id="check-gt" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                            onclick="check_gt();" checked>
                        <label class="form-check-label" for="flexCheckChecked"> Label </label>
                    </div>
                    <div class="btn-group btn-group-sm ps-1" role="group" aria-label="Basic example">
                        <span style="margin-right: 8px;">Label opacity: </span>
                        <button id="dec-opacity" type="button" class="btn btn-primary"
                            onclick="dec_opacity()">-</button>
                        <span id="value-opacity" type="button" class="btn btn-light" value="0.5">0.5</span>
                        <button id="inc-opacity" type="button" class="btn btn-primary"
                            onclick="add_opacity()">+</button>
                    </div>

                </div>
                <div id="cardDetails" class="card border-0 p-1">
                    <img id="imgDetails-EM" class="card-img-top mb-1" src="" width="284px" height="284px"
                        style="position: initial; width:384px; height:384px;">
                    <img id="imgDetails-GT" class="card-img-top mb-1" src="" width="284px" height="284px"
                        style="position: absolute; opacity: 0.5; width:384px; height:384px;">
                </div>

                <div class="center">
                    <input id="rangeSlices" type="range" class="form-range" value="0" min="0" max="30" data_id=""
                        page="">
                    <div class="container">
                        <div class="row">
                            <div class="col justify-content-center">
                                <button id="minSlice" type="button"
                                    class="btn btn-outline-secondary btn-sm disabled float-start"> -15 </button>
                            </div>
                            <div class="col justify-content-center">
                                <a class="btn btn-primary" target="_blank" id="ng-link"
                                    href="http://localhost:9015/neuro/0/0/0">View in NG</a>
                            </div>
                            <div class="col justify-content-center">
                                <button id="maxSlice" type="button"
                                    class="btn btn-outline-secondary btn-sm disabled float-end"> +15 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>