<!-- This view is depicted after adding a new instance and clicking review.
      The view lets the user manuly correct the recorded coordinates. -->
<div
  class="modal fade"
  id="categorizeModalFNSave"
  tabindex="-1"
  aria-labelledby="categorizeModalFNSave"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <p>Delete False Positves?</p>
        </div>

        <div class="row">
          <div class="col-sm">
            <div class="text-center">
              <button id="dl_fn_no" class="btn btn-primary">No</button>
            </div>
          </div>

          <div class="col-sm">
            <div class="text-center">
              <button id="dl_fn_yes" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
