{% extends "templatebase.html" %}

{% block help_content %}
<p class="text-muted">TEXT MISSING</p>
{% endblock %}

{% block content %}


<div class="container-fluid content-row mt-5 ">

    <div class="container-fluid py-2">
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            {% for images in pages%}
            {% set pages_loop = loop %}
            {% for image in images %}

            {% if (image.Label == 'Incorrect' or image.Label == 'Unsure') %}

            <div class="card border rounded card-body card-body-proof-read text-center" style="border-width:4px !important;" id="id_error_{{pages_loop.index-1}}_{{loop.index-1}}">
                <h5 class="card-header border-bottom-0 mb-2">{{image.Error_Description}}</h5>
                <div class="card-block border-0 p-1 image-card-btn {% if image.Label == 'Correct' %}correct{% elif image.Label == 'Incorrect'%}incorrect{% elif image.Label == 'Unsure'%}unsure{% endif %}"
                    page="{{pages_loop.index - 1 }}" data_id="{{ loop.index }}"
                    label="{% if image.Label == 'Correct' %}Correct{% elif image.Label == 'Incorrect'%}Incorrect{% elif image.Label == 'Unsure'%}Unsure{% endif %}">
                    <div class="main-image-categorize">
                        <img id="imgEM-GT-{{loop.index-1}}" class="img_categorize"
                            src="{{ image.GT ~ '/' ~ image.Middle_Slice ~ '.png'}}" width="64px" height="64px"
                            style="opacity: 0.5; ">
                        <img id="imgGT-{{loop.index-1}}" class="img_categorize"
                            src="{{ image.EM ~ '/' ~ image.Middle_Slice ~ '.png'}}" width="64px" height="64px">
                    </div>
                </div>
                <div class="card-block mt-2">
                    <div class="col justify-content-center">
                        <button class="btn btn-primary" id="drawButton" type="button" data-bs-target="#drawModal"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Draw Mask</button>
                    </div>
                </div>

            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- Show in case no data was detected -->
    <div class="p-5 mb-2 bg-secondary text-white text-center d-none">No instances were marked as faulty!</div>


    <div class="m-4 p-1">
        <a type="button" id="submit_button" class="btn btn-primary {{ modenext }}"
            href="{{ url_for('final_page') }}">Submit and Finish</a>
    </div>
</div>

<!-- Modal for synapse slice-->
{% include "draw_modal.html" %}

<script src="{{ url_for('static', filename='categorize.js') }}"></script>


{% endblock %}