{% extends "templatebase.html" %} {% block help_content %}
<p class="text-muted">
  In this view, you can create segmentation masks, set pre-/post-synaptic IDs,
  and add missed false negatives. If you arrived here from the Proofreading
  Workflow, you'll see instances marked as `incorrect` or `unsure` during
  previous proofreading, along with their associated error labels assigned
  during categorization. If you arrived from the Revision Workflow, you'll see
  all instances associated with the given pre-/post-synaptic IDs or within the
  specified sub-volume range that have `incorrect` or `unsure` labels in the
  provided JSON file. If you don't provide the JSON file, you can only add
  missed false negatives, as the tool assumes an initial label of `correct` for
  all instances. Selecting an instance and clicking `Draw Mask` will open a view
  specific to that instance. In this view, you can scroll through all slices of
  the instance, draw masks for as many slices as you like, and set the pre- and
  post-synaptic coordinate ID markers on any chosen slice. Clicking the `Draw
  Mask` button allows you to create a mask using spline interpolation with
  intuitive control points. After positioning all control points, click the
  `Fill` button to generate the mask. You can modify or erase parts of the drawn
  mask by clicking the `Revise` button, which acts like an eraser. Once
  satisfied with the mask, click `Save` to save it for that slice. To set the
  pre- and post-synaptic coordinate ID markers, select the appropriate slice,
  click the `Pre-Synaptic CRD` or `Post-Synaptic CRD` button, and then click the
  relevant coordinate location. At any time, you can click `View in NG` to open
  the instance in Neuroglancer for a better view of marker placement or mask
  drawing. Upon closing the instance view, you will see the slice and its custom
  mask displayed in the sideways-scrollable overview for which you drew the
  custom mask last. To add previously missed false negatives, click the `Add New
  Instance` button to open Neuroglancer. Navigate to the location of the missed
  false negative, position your cursor at the relevant location, and press the
  `c` key on your keyboard to set a yellow marker. After marking the location,
  click the `Review` button to open a module displaying the chosen location's
  coordinates and the slice depth for the instance's bounding box. Confirm the
  settings by clicking `Save`, or manually adjust the values before saving. This
  adds the missed false negative to the list of instances available for
  segmentation mask drawing. After completing the segmentation masks and setting
  the pre and post-synaptic coordinate ID markers for all instances, click the
  `Submit and Finish` button to proceed to the final view.
</p>
{% endblock %} {% block content %}

<div class="container-fluid content-row mt-5">
  <div class="container-fluid py-2">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      <div
        class="card border rounded card-body card-body-proof-read text-center"
        style="border-width: 4px !important"
      >
        <h5 class="card-header border-bottom-0 mb-2">False Negative</h5>
        <div
          class="card-block border-0 p-1 image-card-btn unsure mt-auto"
          label="Unsure"
        >
          <div class="main-image-categorize">
            <img
              class="img_categorize"
              src="/static/Images/place_holder_fn.png"
              width="64px"
              height="64px"
            />
          </div>
        </div>
        <div class="card-block mt-2 mt-auto">
          <div class="col justify-content-center">
            <button
              id="add_new_instance"
              class="btn btn-primary"
              type="button"
              data-bs-target="#drawModalFN"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Add New Instance
            </button>
          </div>
        </div>
      </div>

      {% for image in images %} {% set c11, c12, c21, c22, c31, c32 =
      image.Adjusted_Bbox %} {% set custom_base_path = 'idx_' ~
      image.Image_Index ~ '_slice_' ~ image.Middle_Slice ~ '_cor_' ~c11~ '_'
      ~c12~ '_' ~c21~ '_' ~c22~ '_' ~c31~ '_' ~c32 ~ '.png' %} {% set
      custom_mask_name_curve = 'curve_' ~ custom_base_path %} {% set
      custom_mask_name_circle_pre = 'circlePre_' ~ custom_base_path %} {% set
      custom_mask_name_circle_post = 'circlePost_' ~ custom_base_path %} {% set
      custom_mask_path_check_curve = './synanno/static/custom_masks/' ~
      custom_mask_name_curve %} {% set custom_mask_path_check_circle_pre =
      './synanno/static/custom_masks/' ~ custom_mask_name_circle_pre %} {% set
      custom_mask_path_check_circle_post = './synanno/static/custom_masks/' ~
      custom_mask_name_circle_post %} {% set custom_mask_path_load_curve =
      '/static/custom_masks/' ~ custom_mask_name_curve %} {% set
      custom_mask_path_load_circle_pre = '/static/custom_masks/' ~
      custom_mask_name_circle_pre %} {% set custom_mask_path_load_circle_post =
      '/static/custom_masks/' ~ custom_mask_name_circle_post %}

      <div
        class="card border rounded card-body card-body-proof-read text-center"
        style="border-width: 4px !important"
        id="id_error-{{image.Page}}_{{image.Image_Index}}"
      >
        <h5 class="card-header border-bottom-0 mb-2">
          {{image.Error_Description}}
        </h5>
        <div
          class="card-block border-0 p-1 image-card-btn redraw-images {% if image.Label == 'Correct' %}correct{% elif image.Label == 'Incorrect'%}incorrect{% elif image.Label == 'Unsure'%}unsure{% endif %}"
          page="{{ image.Page }}"
          data_id="{{ image.Image_Index }}"
          label="{% if image.Label == 'Correct' %}Correct{% elif image.Label == 'Incorrect'%}Incorrect{% elif image.Label == 'Unsure'%}Unsure{% endif %}"
        >
          <div class="main-image-categorize">
            <!-- In case of a FN we depict we use the source image also as the target to act as placholder -->
            {% if image.Error_Description != "False Negatives"%}
            <img
              id="img-target-curve-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize"
              src="{% if os.path.exists(custom_mask_path_check_curve) %} {{custom_mask_path_load_curve}} {% else %} {{ image.GT ~ '/' ~ image.Middle_Slice ~ '.png'}} {% endif %}"
              width="64px"
              height="64px"
              style="opacity: 0.5"
            />
            <img
              id="img-target-circlePre-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize d-none"
              src="{% if os.path.exists(custom_mask_path_check_circle_pre) %} {{custom_mask_path_load_circle_pre}} {% else %} {{ image.GT ~ '/' ~ image.Middle_Slice ~ '.png'}} {% endif %}"
              width="64px"
              height="64px"
              style="opacity: 0.5"
            />
            <img
              id="img-target-circlePost-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize d-none"
              src="{% if os.path.exists(custom_mask_path_check_circle_post) %} {{custom_mask_path_load_circle_post}} {% else %} {{ image.GT ~ '/' ~ image.Middle_Slice ~ '.png'}} {% endif %}"
              width="64px"
              height="64px"
              style="opacity: 0.5"
            />
            {% else %}
            <img
              id="img-target-curve-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize"
              src="{% if os.path.exists(custom_mask_path_check_curve) %} {{custom_mask_path_load_curve}} {% else %} {{ image.EM ~ '/' ~ image.Middle_Slice ~ '.png'}} {% endif %}"
              width="64px"
              height="64px"
              style="opacity: 0.5"
            />
            <img
              id="img-target-circlePre-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize d-none"
              src="{% if os.path.exists(custom_mask_path_check_circle_pre) %} {{custom_mask_path_load_circle_pre}} {% else %} {{ image.EM ~ '/' ~ image.Middle_Slice ~ '.png'}} {% endif %}"
              width="64px"
              height="64px"
              style="opacity: 0.5"
            />
            <img
              id="img-target-circlePost-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize d-none"
              src="{% if os.path.exists(custom_mask_path_check_circle_post) %} {{custom_mask_path_load_circle_post}} {% else %} {{ image.EM ~ '/' ~ image.Middle_Slice ~ '.png'}} {% endif %}"
              width="64px"
              height="64px"
              style="opacity: 0.5"
            />
            {% endif %}
            <img
              id="imgGT-{{image.Page}}-{{image.Image_Index}}"
              class="img_categorize"
              data-image_base_path="{{ image.EM }}"
              src="{{ image.EM ~ '/' ~ image.Middle_Slice ~ '.png'}}"
              width="64px"
              height="64px"
            />
          </div>
        </div>
        <div class="card-block mt-2">
          <div class="col justify-content-center">
            <button
              class="btn btn-primary"
              id="drawButton-{{image.Page}}-{{image.Image_Index}}-{{image.Label}}"
              type="button"
              data-bs-target="#drawModal"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Draw Mask
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Show in case no data was detected -->
  <div class="p-5 mb-2 bg-secondary text-white text-center d-none">
    No instances were marked as faulty!
  </div>

  <div class="m-4 p-1">
    <a
      type="button"
      id="submit_button"
      class="btn btn-primary {{ modenext }}"
      href="{{ url_for('export_draw') }}"
      >Submit and Finish</a
    >
  </div>
</div>

<!-- Modal for synapse mask correction -->
{% include "draw_modal.html" %}

<!-- Modal for adding false positve synapses -->
{% include "draw_modal_fn.html" %}

<script src="{{ url_for('static', filename='draw_module.js') }}"></script>

<script src="{{url_for('static', filename='draw.js') }}"></script>

{% endblock %}
