{% extends "templatebase.html" %}

{% block help_content %}
<p class="text-muted">
    Click "Save Results" to download the masks.
    Click "Start New Process" to go back to the root page and start proofreading a new dataset.
</p>
{% endblock %}

{% block content %}

<div>
    <h2 class="mb-1">You finalized the proofreading of your data! </h2>
    <p> Click "Save results" to export a json file containing the final labels of the your data.</p>
    <p> Click "Open new data" to go back to the import page.</p>
</div>
<div class="mt-4">
    <a type="button" class="btn btn-primary {{ btn_status }}"
        href="{{ url_for('export_data', data_type ='mask')}}">Download Masks</a>
    <a type="button" class="btn btn-secondary ml-2 " href="{{ url_for('reset')}}">Start New Process</a>
</div>

{% endblock %}