{% extends "templatebase.html" %} {% block help_content %}
<p class="text-muted">
  The export annotations view lets you download the JSON file containing
  instance metadata by clicking `Download JSON`, redraw masks with the `Revise
  Dataset` workflow by clicking `Redraw Masks`, or start a new process by
  clicking `Start New Process`.
</p>
{% endblock %} {% block content %}

<div>
  <h2 class="mb-1">You finalized the proofreading of your data!</h2>
  <p></p>
</div>
<div class="mt-4">
  <a
    id="dl_annotate_json"
    type="button"
    class="btn btn-secondary {{ btn_status }}"
    href="{{ url_for('finish.export_data',  data_type ='json')}}"
    >Download JSON</a
  >
  <a
    id="redraw_masks"
    type="button"
    class="btn btn-secondary ml-2"
    href="{{ url_for('manual_annotate.draw')}}"
    >Redraw Masks</a
  >
  <a
    id="annotate_new_process"
    type="button"
    class="btn btn-secondary ml-2 {{disable_snp}}"
    href="{{ url_for('finish.reset')}}"
    >Start New Process</a
  >
</div>

{% include "loading_bar.html" %}


<script src="{{ url_for('static', filename='export.js') }}"></script>

{% endblock %}
