{% extends "templatebase.html" %} {% block help_content %}
<p class="text-muted">
  In this view, you can download the JSON file containing the instances'
  metadata by clicking `Download JSON`, or download the segmentation masks as a
  numpy array or image by clicking `Save Masks`. The instance ID, bounding box,
  and slice number are encoded in the file names. If you want to start a new
  process, click `Start New Process` to return to the landing page.
</p>
{% endblock %} {% block content %}

<div>
  <h2 class="mb-1">You finalized the proofreading of your data!</h2>
  <p></p>
</div>
<div class="mt-4">
  <a
    id="dl_draw_masks"
    type="button"
    class="btn btn-secondary {{ btn_status }}"
    href="{{ url_for('finish.export_data', data_type ='mask')}}"
    >Download Masks</a
  >

  <a
    id="dl_draw_JSON"
    type="button"
    class="btn btn-secondary {{ btn_status }}"
    href="{{ url_for('finish.export_data', data_type ='json')}}"
    >Download JSON</a
  >

  <a
    id="draw_new_process"
    type="button"
    class="btn btn-secondary ml-2 {{disable_snp}}"
    href="{{ url_for('finish.reset')}}"
    >Start New Process</a
  >
</div>

<script src="{{ url_for('static', filename='export.js') }}"></script>

{% endblock %}
