{% extends "templatebase.html" %}

{% block help_content %}
<p class="text-muted">
    Click "Download JSON" to download the JSON.
    Click "Start New Process" to go back to the root page and start proofreading a new dataset.
    Click "Edit Bad Labels" to redraw the center label for the instances marked as "Wrong" or "Unsure".

</p>
{% endblock %}

{% block content %}

<div>
    <h2 class="mb-1">You finalized the proofreading of your data! </h2>
    <p> </p>
</div>
<div class="mt-4">
    <a id="dl_annotate_json" type="button" class="btn btn-primary {{ btn_status }}"
        href="{{ url_for('export_data',  data_type ='json')}}">Download JSON</a>
    <a type="button" class="btn btn-secondary ml-2" href="{{ url_for('draw')}}">Redraw Masks</a>
    <a id="annotate_new_process" type="button" class="btn btn-secondary ml-2 {{disable_snp}}" href="{{ url_for('reset')}}">Start New Process</a>
</div>


<script src="{{ url_for('static', filename='export.js') }}"></script>

{% endblock %}