{% extends "templatebase.html"%}

{% block content %}


<div class="container-fluid vh-100">
    <div class="row">
    <div class="col">
        <div class="outsideWrapper">
            <div class="insideWrapper">
                <img src="static/Images/Img/27/17.png" class="coveredImage">
                <canvas class="coveringCanvas d-none"></canvas>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <button type="button" class="btn btn-secondary" id="canvasButtonActivate">Activate Canvas</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="canvasButtonDelete">Delete Mask</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="canvasButtonCreate">Create Mask</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="canvasButtonPolarity">Switch polarity</button>
        </div>
    </div>
    <div class="row">
        <div class="center">
            <input id="thickness" type="range" class="form-range" value="10" min="1" max="30" data_id="" page="">
        </div>
    </div>
</div>


</div>

<script src="{{url_for('static', filename='draw.js') }}"></script>
{% endblock %}