{% extends "templatebase.html" %}
{% block help_content %}
<p class="text-muted">
  The opendata view asks you to provide a source bucket and target bucket (both
  in Neuroglancer's precomputed format), a URL to a materialization table,
  bucket secrets (defaults to ~/.cloudvolume/secrets), and optionally a JSON
  file containing instance metadata. The JSON file can be used to save and
  restore sessions or start a "Revise Dataset" workflow with information from a
  "Proofread Annotation" workflow. You can load instances by querying the
  materialization table based on sub-volume constraints in the 'View Centric'
  approach or based on pre-/post-synaptic coordinates in the 'Neuron Centric'
  approach. You'll also need to specify the coordinate layout of the referenced
  precomputed datasets, the source volume resolution (in nm), the target volume
  resolution (in nm), and instance crop size (in pixels). After providing the
  required information, click 'Submit' to prepare the data for the first page or
  revision. Then, click "Start Data Proofread"/"Start Drawing" to begin
  proofreading or revision.
</p>
{% endblock %} {% block content %}

<script
  src="https://cdn.socket.io/4.4.1/socket.io.min.js"
  integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
  crossorigin="anonymous"
></script>


<div class="mb-3  my-3">
  <form
    method="POST"
    id="{{ modeform }}"
    action="{{ url_for('open_data.upload_file') }}"
    enctype="multipart/form-data"
  >
    <div class="mb-1"></div>

    <div class="accordion" id="accordionDataSources">
      <!-- Data Sources Section -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Data Sources
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionDataSources">
          <div class="accordion-body">
            <label for="source_url" class="form-label">
              Source bucket (precomputed: Neuroglancer's native format) - Required
            </label>
            <p>
              <input
                class="form-control"
                type="url"
                id="source_url"
                name="source_url"
                placeholder="Cloud Volume Bucket - file://<path_to_your_file>"
                value="gs://h01-release/data/20210601/4nm_raw"
                {% if mode == 'draw' or mode == 'annotate' %} data-required="true" {% endif %}
              />
            </p>
            <label for="target_url" class="form-label">
              Target bucket (precomputed: Neuroglancer's native format) - Required
            </label>
            <p>
              <input
                class="form-control"
                type="url"
                id="target_url"
                name="target_url"
                placeholder="Cloud Volume Bucket - file://<path_to_your_file>"
                value="gs://h01-release/data/20210729/c3/synapses/whole_ei_onlyvol"
                {% if mode == 'draw' or mode == 'annotate' %} data-required="true" {% endif %}
              />
            </p>
            <label for="neuropil_url" class="form-label">
              Neuropil Segmentation (precomputed: Neuroglancer's native format) - Required for View-Centric Analysis
            </label>
            <p>
              <input
                class="form-control"
                type="url"
                id="neuropil_url"
                name="neuropil_url"
                placeholder="Cloud Volume Bucket - file://<path_to_your_file>"
                value="gs://h01-release/data/20210601/proofread_104"
                {% if mode == 'draw' or mode == 'annotate' %} data-required="true" {% endif %}
              />
            </p>
            <label for="materialization_url" class="form-label">
              Materialization (path to the table containing the ID association and bounding box information) - Required
            </label>
            <p>
              <input
                class="form-control"
                type="text"
                id="materialization_url"
                name="materialization_url"
                placeholder="file://<path_to_your_file>"
                {% if mode == 'draw' or mode == 'annotate' %} data-required="true" {% endif %}
              />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionSynapseSelection">
      <!-- Synapse Selection Section -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo">
            Synapse Selection
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionSynapseSelection">
          <div class="accordion-body">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="toggleSynapseSelection"
                {% if view_style == "neuron" %} checked {% endif %}
              />
              <label class="form-check-label" for="toggleSynapseSelection">
                Toggle between Neuron Centric and Synapse IDs Range
              </label>
            </div>

            <input type="hidden" id="view_style" name="view_style" value="{{ view_style }}">

            <div id="neuron-form" class="mt-3" {% if view_style == "synapse" %} style="display:none;" {% endif %}>
              <!-- Button to Open the Embedded Neuroglancer Modal -->
              <button
                id="openNeuronModalBtn"
                type="button"
                class="btn btn-secondary"
                data-bs-toggle="modal"
                data-bs-target="#neuroglancerModal"
                disabled
              >
                Choose a Neuron
              </button>
            </div>

            <div id="synapse-id-form" class="mt-3" {% if view_style == "neuron" %} style="display:none;" {% endif %}>
              <div class="row">
                <div class="col">
                  <input
                    class="form-control"
                    type="number"
                    id="preid"
                    name="preid"
                    placeholder="Presynaptic ID"
                  />
                </div>
                <div class="col">
                  <input
                    class="form-control"
                    type="number"
                    id="postid"
                    name="postid"
                    placeholder="Postsynaptic ID"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="accordionConfigs">
        <!-- Secrets and Configurations Section -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Configurations
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionConfigs">
            <div class="accordion-body">
              <label class="form-label">SynAnno JSON file</label>
              <p>
                <input
                  class="form-control {{mode}}"
                  type="file"
                  id="formFile"
                  name="file_json"
                />
              </p>

              <label for="secrets_file" class="form-label">Secrets (File containing the bucket secrets, defaults to looking in ~/.cloudvolume/secrets)</label>
              <p>
                <input
                  class="form-control"
                  type="file"
                  id="secrets_file"
                  name="secrets_file"
                />
              </p>


              <div class="mb-1"></div>

                <label class="form-label" style="margin-right: 121px; display: inline-block;">
                Coordinate Order
                </label>
                <select id="coordinates" name="coordinates" class="form-select" style="width: auto; display: inline-block;">
                <option value="xyz" selected>XYZ</option>
                <option value="xzy">XZY</option>
                <option value="zyx">ZYX</option>
                <option value="zxy">ZXY</option>
                <option value="yxz">YXZ</option>
                <option value="yzx">YZX</option>
                </select>

                <div class="mb-1"></div>

                <label for="formGroupExampleInput" class="form-label" style="margin-right: 50px; display: inline-block;">Instance crop size (in pixel)</label>
                <input class="form-control" type="number" id="cropsize_x" placeholder="256" name="crop_size_c0" value="256" style="width: auto; display: inline-block;" />
                <input class="form-control" type="number" id="cropsize_y" placeholder="256" name="crop_size_c1" value="256" style="width: auto; display: inline-block;"/>
                <input class="form-control" type="number" id="cropsize_z" placeholder="16" name="crop_size_c2" value="{{ '16' if mode == 'draw' else '6' }}" style="width: auto; display: inline-block;" />
                <div class="mb-1"></div>

                <div>
                <label class="form-label" style="margin-right: 2px; display: inline-block;">Source Volume Resolution (in nm)</label>
                <input class="form-control" type="number" id="res-source-1" name="res-source-1" placeholder="Default: 4" value="4" style="width: auto; display: inline-block;" />
                <input class="form-control" type="number" id="res-source-2" name="res-source-2" placeholder="Default: 4" value="4" style="width: auto; display: inline-block;" />
                <input class="form-control" type="number" id="res-source-3" name="res-source-3" placeholder="Default: 33" value="33" style="width: auto; display: inline-block;" />
                </div>

                <div>
                <label class="form-label" style="margin-right: 8px; display: inline-block;">Target Volume Resolution (in nm)</label>
                <input class="form-control" type="number" id="res-target-1" name="res-target-1" placeholder="Default: 8" value="8" style="width: auto; display: inline-block;" />
                <input class="form-control" type="number" id="res-target-2" name="res-target-2" placeholder="Default: 8" value="8" style="width: auto; display: inline-block;" />
                <input class="form-control" type="number" id="res-target-3" name="res-target-3" placeholder="Default: 33" value="33" style="width: auto; display: inline-block;" />
                </div>

              </div>

            </div>


            <!-- Modal for Embedded Neuroglancer -->
            <div
            class="modal fade"
            id="neuroglancerModal"
            tabindex="-1"
          >
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="card-header text-center">
                Neuron ID: <span id="neuron-id-open"></span>
              </div>
            <div class="modal-body">
            <!-- Embedded Neuroglancer Viewer -->
            <iframe
              id="neuroglancerIframe"
              src=""
              width="100%"
              height="700px"
              style="border: 1px solid #ccc;"
            ></iframe>
            </div>
              <div class="modal-footer d-flex justify-content-between align-items-center">
              <p class="text-muted mb-0">
                Press 'n' to select the neuron at your cursor.
              </p>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="mt-4">
      <input
        id="processData"
        type="submit"
        class="btn btn-secondary {{ modecurrent }}" disabled
        value="Submit"
      />
      <a
        type="button"
        class="btn btn-secondary {{ modenext }}"
        href="{{ url_for('open_data.set_data_task', task=mode) }}"
      >
        {% if mode == 'draw'%} Start Drawing {% elif mode == 'annotate'%}Start
        Data Proofread{% endif %}
      </a>
    </p>
    <p>
      <a
        type="button"
        id="resetButton"
        class="btn btn-outline-danger d-{{ modereset or 'none'}}"
        href="{{ url_for('finish.reset') }}"
        >Reset Backend</a
      >
      <a
        type="button"
        id="continueButton"
        class="btn btn-outline-warning d-{{ modereset or 'none'}}"
        href="{{ url_for('open_data.set_data_task', task=mode) }}"
        >Continue Previous Task</a
      >
    </p>
  </form>
</div>

<!-- Draggable Minimap Container -->
<div id="minimapContainer" class="minimap" data-minimap-state="expanded">
  <div id="minimapHeader" class="minimap-header">
      Neuron Minimap
      <button id="toggleButton" class="btn btn-sm btn-secondary toggle-btn">Toggle</button>
  </div>
  <div id="shark_container_minimap" class="minimap-content"></div>
</div>

<!-- Modal to indicating active loading -->
{% include "loading_bar.html" %}

<!-- add js file to disable the form on reset -->
<script type="module" src="{{ url_for('static', filename='opendata.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='SharkViewer/three.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='viewer.js') }}" data-neuron-ready="{{ neuronReady }}" data-initial-load="true" data-neuron-sections="{{ neuronSections }}"  data-synapse-point-cloud="{{ synapsePointCloud }}"></script>

<script type="module" src="{{ url_for('static', filename='minimap.js') }}" data-neuron-ready="{{ neuronReady }}"></script>

{% endblock %}
